.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3px;
}

        .Photography {
            border-style: double;
            padding: 10px;
            flex: 1 0 10px;
            text-align: center;
            text-decoration: none;
            color:white;
            background-color: rgb(47, 37, 37);
        }

        .Videography {
            border-style: double;
            padding: 10px;
            flex: 1 0 10px;
            text-align: center;
            text-decoration: none;
            color:white;
            background-color: rgb(47, 37, 37);
        }

        .Inspiration {
            border-style: double;
            padding: 10px;
            flex: 1 0 10px;
            text-align: center;
            text-decoration: none;
            color:white;
            background-color: rgb(47, 37, 37);
        }

        .Philosophy {
            border-style: double;
            padding: 10px;
            flex: 1 0 10px;
            text-align: center;
            text-decoration: none;
            color:white;
            background-color: rgb(47, 37, 37);
        }

        .PhilosophyWriting {
            text-align: center;
            padding: 20px;
        }

        .allText {
            text-align: center;
            margin: 30px;
        }

        .head {
            border-style: solid;
        }








.titlePhil {
    background-color: burlywood;
    padding: 5px;
    text-decoration: underline;
}

.opening {
    text-align: center;
    font-size:x-large;
}

.PhilOne {
    border-style: solid;
    padding: 10px;
}

.quotes {
    font-size:large;
}






.inspirationWriting {
    text-align: center;
    padding: 20px;
}

.titleinspo {
    background-color: burlywood;
    padding: 5px;
    text-decoration: underline;
}

.Inspo1 {
    border-style: solid;
    padding: 10px;
}





.photographyWriting {
    text-align: center;
    padding: 20px;
}

.titlePhotog {
    background-color: burlywood;
    padding: 5px;
    text-decoration: underline;
}

.photogOne {
    border-style: solid;
    padding: 10px;
    
}